<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">


	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="customer">
					<bean class="com.blackiceinc.utils.CustomerScope" />
				</entry>
			</map>
		</property>
	</bean>



	<bean id="userInfoBean" class="com.blackiceinc.beans.UserInfoBean"
		scope="customer" destroy-method="destroy" init-method="init">
	</bean>












	 <bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="${jpa.database}" />
		<property name="showSql" value="${jpa.showSql}" />
		<property name="databasePlatform" value="${jpa.dialect}" />
		<property name="generateDdl" value="${jpa.generateDdl}" />
	</bean>

	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="com.blackiceinc.account.model" />
		<property name="jpaProperties">
			<map>
				<entry key="hibernate.show_sql" value="true" />
				<entry key="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
				
				<entry key="hibernate.multiTenancy" value="DATABASE" />
				<entry key="hibernate.tenant_identifier_resolver" value-ref="myResolver"  />
				<entry key="hibernate.hibernate.multi_tenant_connection_provider" value-ref="myProvider" />
			</map>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			</bean>
		</property>
	</bean> 
	
	 <bean id="myResolver" class="com.blackiceinc.config.multitenant.TenantIdentifierResolver" scope="request">
        <aop:scoped-proxy/>
    </bean>

    <bean id="myProvider" class="com.blackiceinc.config.multitenant.SimpleMultiTenantConnectionProvider">
       
    </bean>
    

</beans>
